.proxy-section{
    height: 100%;
    padding: 2rem;
    background-color: rgba(var(--bg-e),1.0);
    

    &__box{
    border-radius: .375rem;
    box-shadow: 0 4px 10px #00000008,0 0 2px #0000000f,0 2px 6px #0000001f;
    padding: 1.5rem;
    background-color: rgba(var(--bg-a),1.0);
}
}