<header class="header fixed-block">
  <div class="header__inner">
    <a href="index.html" class="logo">
      <img src="/img/sprite/logo.svg" alt="logo" class="main-logo" width='107' height='48'>
    </a>
 
      <div class="header-box">
        
        <ul class="main-nav">
          <li class="main-nav__item">
            <button class="main-nav__button active" data-tab="1">
              <i class="fa-solid fa-house"></i>
              Statistic</button>
          </li>
          <li class="main-nav__item">
            <button class="main-nav__button" data-tab="2">
              <i class="fa-regular fa-calendar fa-lg"></i>
              Proxy</button>
          </li>
          <li class="main-nav__item">
            <button class="main-nav__button" data-tab="3">
              <i class="fa-solid fa-gear fa-lg"></i>
              Settings</button>
          </li>
          <li class="main-nav__item">
            <button class="main-nav__button" data-tab="4">
              <i class="fa-solid fa-wrench fa-lg"></i>
              Support</button>
          </li>
        </ul>

        <div class="user-avatar">
          <i class="fa-regular fa-user"></i>
        </div>
      </div>

      <button class="sign-out">
        <i class="fa-solid fa-arrow-right-from-bracket fa-xl"></i>
      </button>

  </div>

</header>
