<header class="header fixed-block">
  <div class="header__inner">
    <img src="/img/sprite/logo.svg" alt="logo" class="main-logo" width='107' height='48'>
      <div class="header-box">
        
        <ul class="main-nav">
          <li class="main-nav__item">
            <button class="main-nav__button active" data-tab="1">Statistic</button>
          </li>
          <li class="main-nav__item">
            <button class="main-nav__button" data-tab="2">Proxy</button>
          </li>
          <li class="main-nav__item">
            <button class="main-nav__button" data-tab="3">Settings</button>
          </li>
          <li class="main-nav__item">
            <button class="main-nav__button" data-tab="4">Support</button>
          </li>
        </ul>

        <div class="user-avatar">
        <svg width='' height=''>
          <use href='img/sprite/sprite.svg#'></use>
        </svg>
        </div>
      </div>

      <button class="sign-out">
        <svg width='16' height='16'>
          <use href='img/sprite/sprite.svg#'></use>
        </svg>
      </button>

  </div>

</header>
