<header class="header fixed-block">
  <div class="header__inner">
    <img src="/img/sprite/logo.svg" alt="logo" class="main-logo" width='107' height='48'>
      <div class="header-box">
        
        <ul class="main-nav">
          <li class="main-nav__item">
            <button class="main-nav__button active" data-tab="1">
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#house'></use>
              </svg>
              Statistic</button>
          </li>
          <li class="main-nav__item">
            <button class="main-nav__button" data-tab="2">
              <svg width='26' height='26'>
                <use href='img/sprite/sprite.svg#calendar'></use>
              </svg>
              Proxy</button>
          </li>
          <li class="main-nav__item">
            <button class="main-nav__button" data-tab="3">
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#settings'></use>
              </svg>
              Settings</button>
          </li>
          <li class="main-nav__item">
            <button class="main-nav__button" data-tab="4">
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#icon2'></use>
              </svg>
              Support</button>
          </li>
        </ul>

        <div class="user-avatar">
        <svg width='25' height='25'>
          <use href='img/sprite/sprite.svg#user'></use>
        </svg>
        </div>
      </div>

      <button class="sign-out">
        <svg width='16' height='16'>
          <use href='img/sprite/sprite.svg#icon1'></use>
        </svg>
      </button>

  </div>

</header>
