.main-nav{
    display: flex;
    grid-gap: 0.25rem;
    align-items: center;

    &__button{
        color: rgba(var(--cl-d),1.0);
        background-color: transparent;
        transition: all .4s;
        border-radius: .375rem;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        grid-gap: 0.5rem;
        font-weight: 500;
        text-decoration: none;
        overflow: hidden;
        position: relative;

        &:hover{
            &:not(.active){
                color: rgba(var(--cl-c),1.0);
            background-color: rgba(var(--bg-c),1.0);
            }
        }

        &.active{
            color: rgba(var(--cl-c),1.0);
            background-color: rgba(var(--bg-c),1.0);
        }
    }
}