.select {
  position: relative;
  user-select: none;
  padding: 0.5rem 0.75rem;
  border: 1px solid rgba(84, 109, 179, 0.2);
  border-radius: 3px;
  max-width: 140px;
  width: 100%;

  font-family: rgba(var(--cl-b),1.0);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 100%;
  color: rgba(var(--cl-b),1.0);

  &__header {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    grid-gap: 0.5rem;
  }

  &__current {
    flex-flow: 1;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 5px;
  }

  &__icon{
    display: flex;
    align-items: center;
    transform: scaleY(-1);
    transition: all .4s;
    svg{
     
      fill: transparent;
      stroke: rgba(var(--cl-b),1.0);

    }
  }

  &__body {
    width: 140px;
    margin-top: 7px;
    position: absolute;
    left: 0;
    z-index: 5;
    max-height: 0;
    overflow: hidden;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;
    max-height: 220px;
    transform: translateX(-1%);
    background: rgba(var(--bg-f),1.0);
    border: 1px solid rgba(84, 109, 179, 0.2);
    border-radius: 0 0 3px 3px;
  }

  &__wrapp {
    // width: 120px;
    white-space: nowrap;
    padding: 1rem 0.75rem;
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
  }

  &__item {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    width: 100%;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}

.select.active .select__body {
  height: auto;
}

.select.active {
  z-index: 3;

  .select__body {
    visibility: visible;
    opacity: 1;
  }

  .select__icon{
    transform: scaleY(1);
  }

  position: relative;

  // &::before {
  //   opacity: 1;
  // }

}

.notes-select{
  min-width: 70px;
  
  .select__body{
    width: 100%;
    min-width: 70px;
  }
}
// .select__item:hover {
//   // background-color: $color--a;
//   color: var(--color-f);
// }
